*{
  margin: o;
  padding: 0;
  box-sizing: border-box;
  font-family:  Helvetica;
}
html,
body{
  height: 100%;
  width: 100%;
}
.card{
  background-color: pink;
  border-radius: 10px;
  margin: 10px;

}
.nav{
  background-color: rgb(189, 228, 34);
  border-radius: 5px;
  margin: 5px;

}